.containerButton {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  gap: 20px;
  width: 100%;
  padding-top: 20px;
  background-color: var(--Background-body);
}

.number {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  color: var(--white);
}

.wrapperCard {
  height: auto;
}

.questionCardContainer {
  margin-top: 50px;
}

.countQuestions {
  display: flex;
  justify-content: flex-end;
  margin-right: -14px;
}
