:root {
  --button-selected: rgba(233, 233, 233, 0.123);
  --button-transparent: var(--transparent);

  --background-hover: var(--primary-hover);
  --background-button-primary: var(--primary-color);

  --color-icon-and-text: var(--text-secundary-color);
  --color-icon-and-text-hover: var(--secundary-hover);
}
