@import 'styles/mixings.scss';

.bodyLoading {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  max-width: 100vw;
  overflow: hidden;
}

.loading {
  width: 50px;
  height: 50px;
  border: 6px solid var(--border-background--loading);
  border-top-color: var(--primary-hover);
  display: block;
  animation: is-rotating 1s infinite;
  border-radius: 50%;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
