:root {
  // Fonts
  --main-font: 'Fira Sans', sans-serif;

  --Background-body: #10002b;
  --navbar: #10002b;

  --primary-color: var(--white);
  --primary-hover: #1db4d8;

  --text-primary-color: #012a4a;
  --is-correct: #43a047;
  --text-secundary-color: #10002b;
  --secundary-color: #3c096c;

  --background-container: #240046;

  --white: #fff;
  --black: #000;

  //text
  --title: var(--primary-color);
  --color-text: #a1ffff;
  --color-text-light: #ffffff;

  // error
  --errors: #d32f2f;

  // warning
  --warning: #fdd835;
}
