@import 'styles/mixings.scss';

.title {
  font-family: var(--main-font);
  color: var(--white);
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 25px;
  line-height: 30px;
  width: fit-content;

  &.secundary {
    color: var(--text-secundary-color);
  }
}
