.answerdCardContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  background-color: green;
  width: 100%;
  padding: 10px;
  height: auto;
  border-radius: 8px;
  padding: 22px;
  color: var(--color-text-light);

  &.incorrectAnswer {
    background-color: red;
  }
}

.icon {
  margin-right: 14px;
}

.answerText {
  padding: 20px;
  color: var(--color-text-light);
  font-size: 20px;
}

.scoredContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.scoredNumber {
  margin-left: 10px;
  color: var(--color-text-light);
  display: flex;
  padding: 5px;
}
