.scoredContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.scoredNumber {
  justify-content: center;
  margin-left: 10px;
  color: var(--color-text-light);
  display: flex;
}

.badAnswer {
  margin-top: 3px;
  color: var(--errors);
}

.goodAnswer {
  color: var(--is-correct);
}
