.scoredContainer {
  flex-direction: column;
  margin-top: 20px;
  display: flex;
}

.titleContainar {
  text-transform: capitalize;
  width: fit-content;
}

.countAnswers {
  display: flex;
  align-items: center;
  color: var(--color-text-light);
}

.badAnswer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: var(--errors);
}

.goodAnswer {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  color: var(--is-correct);
}
