.containerInput {
  position: relative;
}

.input {
  width: 100%;
  border: 1px solid var(--secundary-color);
  box-shadow: none;
  padding: 10px 0 10px 0;
  border-radius: 4px;
  font-family: var(--main-font);
  box-sizing: border-box;

  &:focus {
    outline: 0;
    border-radius: 4px;
    border: 1px solid var(--primary-hover);
  }

  &:hover {
    border-radius: 4px;
    border: 1px solid var(--primary-hover);
  }

  &::placeholder {
    font-size: 14px;
    font-family: var(--main-font);
  }

  &.icon {
    padding: 10px 0 10px 15px;
  }
}

.label {
  font-size: 14px;
  font-family: var(--main-font);
}

.isError {
  border: 1px solid;
}

input[type='text'] {
  padding-left: 10px;
  font-size: 14px;
  font-family: var(--main-font);
}

input[type='email'] {
  padding-left: 10px;
  font-size: 14px;
  font-family: var(--main-font);
}

input[type='password'] {
  padding-left: 10px;
  font-size: 14px;
  font-family: var(--main-font);
}

input[type='number'] {
  padding-left: 10px;
  font-size: 14px;
  font-family: var(--main-font);
}

.errorMessage {
  margin-left: 5px;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: var(--main-font);
  color: var(--errors);
}

.viewPassword {
  color: grey;
  position: absolute;
  right: 12px;
  top: 10px;
  cursor: pointer;
}

.containerIcon {
  cursor: pointer;
  top: 10px;
  right: 15px;
  position: absolute;
}
